.DS_Store
.settings
.classpath
.project
.idea
*.iml
target
/db/
/repository/
webanno-doc/src/main/resources/public
.checkstyle
log4j2-dev.xml
/server-data/
/mysql-data/
/webanno-webapp/src/target/
/webanno-webapp/src/main/docker/*.jar
.factorypath